<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
</head>
<body>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/views/searchBook/selectBookThema">
                    <h2 class="post-title">모든 테마 보기</h2>
                </a>
                <p class="post-meta">
                    모든 테마를 한눈에!
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">오늘의 책 인기글!</h2>
                <form name="likePostForm1" method="post" th:action="@{/views/board/likePost/recommandBoardList}" th:object="${boardList}">
                    <p class="post-meta">
                        인기글이 궁금하다면
                        <a href="javascript:document.likePostForm1.submit();">여기</a>
                        를 눌러주세요!
                    </p>
                    <div>
                        <table class="table">
                            <tbody>
                                <tr th:each="board : ${boardList}">
                                    <a th:href="@{'/views/board/post/' + ${board.id}}">
                                        <span th:text="${board.title}"></span>
                                    </a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/views/selectThema">
                    <h2 class="post-title">오늘은 뭘 읽을까?</h2>
                </a>
                <p class="post-meta">
                    뭘 읽을지 고민하시는 분들을 위해 오늘의 책이 정해드립니다!
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
