<!DOCTYPE html>
<html lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/defaultLayout}"
       layout:fragment="Content">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center">
                <strong>테마</strong>
            </a>
        </div>
    </div>
        <form name="themaForm1" method="post" th:action="@{/views/searchBook/searchThemaLoveBookResultNaver}" th:object="${bookThemaDto}">
            <a href="javascript:document.themaForm1.submit();">로맨스</a>
        </form>
        <form name="themaForm2" method="post" th:action="@{/views/searchBook/searchThemaOrientalFantasyBookResultNaver}" th:object="${bookThemaDto}">
            <a href="javascript:document.themaForm2.submit();">무협</a>
        </form>

</body>
</html>